@font-face {
  font-family: "Godzilla";
  src: url("./fonts/Godzilla.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/orbitron-black.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Doom Left";
  src: url("./fonts/AmazDooMLeft.ttf") format("truetype");
}

@font-face {
  font-family: "Doom Right";
  src: url("./fonts/AmazDooMRight.ttf") format("truetype");
}

@font-face {
  font-family: "Doom Outline Left";
  src: url("./fonts/AmazDooMLeftOutline.ttf") format("truetype");
}

@font-face {
  font-family: "Doom Outline Right";
  src: url("./fonts/AmazDooMRightOutline.ttf") format("truetype");
}

@font-face {
  font-family: "Arvo";
  src: url("./fonts/Arvo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Antonio";
  src: url("./fonts/Antonio-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Tall Dark And Handsome";
  src: url("./fonts/talldark.ttf") format("truetype");
}
