/* Colors */

$light-border-color: #edeff1;
$border-color: #000000;
$container-background: #c0c0c0;
$workspace-background: #ffffff;
$toolkit-background: #ffffff;
$text-color: #000000;
$hover: rgba(85, 205, 252, 0.4);
$container-top-padding: 48px;
$urgent-color: #ff4422;
