@import "_variables";
@import "_fonts";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  border: unset;
  outline: unset;
  background-color: unset;
  list-style: none;
  font-size: 16px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: $container-background;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: flex;
}

textarea {
  display: flex;
  flex-flow: row wrap;
  resize: none;
}

.plus-sign {
  $size: 18px;
  $line-thickness: 2px;
  $offset: round($size / 2) - 1;
  $width-decrease: 6px;
  position: relative;
  user-select: none;
  width: $size;
  height: $size;
  border-radius: 50%;

  &:hover {
    background-color: $hover;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    background-color: $text-color;
  }

  &::before {
    top: $width-decrease / 2;
    left: $offset;
    width: $line-thickness;
    height: calc(100% - $width-decrease);
  }

  &::after {
    top: $offset;
    left: $width-decrease / 2;
    width: calc(100% - $width-decrease);
    height: $line-thickness;
  }
}

.minus-sign {
  $size: 15px;
  $line-thickness: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size + 1px;
  user-select: none;
  border-radius: 50%;

  &::after {
    content: "";
    width: 5px;
    height: $line-thickness;
    background-color: $text-color;
  }

  &:hover {
    background-color: $hover;
  }
}

.dropdown-container {
  $item-width: 162px;
  position: relative;
  margin-left: -5px;

  &.active {
    margin-bottom: 1px;
    z-index: 2;
  }

  > * {
    width: $item-width;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid $light-border-color;
  }

  .current {
    display: flex;

    &.active {
      border-bottom: unset;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }
  }
}

.dropdown {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 5px;
  border-top: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  background-color: $toolkit-background;

  * {
    text-align: start;
    background-color: $toolkit-background;
  }
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.clickable {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.divider {
  max-height: 1px;
  min-height: 1px;
  width: 100%;
  background-color: $light-border-color;
}

.divider.vertical {
  max-width: 1px;
  max-height: unset;
  min-width: 1px;
  min-height: unset;
  height: 100%;
  background-color: $light-border-color;
}

.hover:hover {
  background-color: $hover;
}

.no-click {
  pointer-events: none;
}
