@import "_variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.divider {
  $thick: 5px;
  width: 100%;
  height: 1px;
  background-color: $border-color;

  &.thick {
    height: $thick;
  }

  &.vertical {
    width: 1px;
    height: 100%;

    &.thick {
      width: $thick;
    }
  }
}
