@import "_variables";

.container {
  display: flex;
  align-items: stretch;
  min-width: 960px;
  width: fit-content;
  min-height: 100vh;
  height: fit-content;
  margin-left: calc(50vw - 490px);
  padding-top: $container-top-padding;
  background-color: $container-background;
}

.workspace {
  position: relative;
  margin-left: 5px;
  background-color: $workspace-background;
}

.moveable {
  position: absolute;
  scrollbar-width: none;
  overflow: hidden;

  &:hover {
    outline: 1px solid #000000;
  }
}
