@import "_variables";

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 960px;
  min-height: 100vh;
  height: fit-content;
  margin: 0 auto;
  background-color: $container-background;
}

.workspace {
  position: relative;
  margin-left: 5px;
  background-color: $workspace-background;
  overflow: hidden;
}

.moveable {
  position: absolute;
}
