@import "_variables";

.preview {
  $size: 160px;
  width: $size;
  height: $size;
  object-fit: contain;
  border: 1px solid $container-background;
  border-radius: 5px;
  background-color: $container-background;
}

.wrapper {
  display: flex;
  margin-bottom: 5px;

  > :last-child {
    margin-left: 10px;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  flex-flow: row wrap;
}

.fill-row {
  margin-right: 100%;
}

.filter-wrapper {
  width: 33%;
}
