@import "_variables";

.wrapper {
  $input-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 50px;
  background-color: $toolkit-background;
  border: 1px solid $light-border-color;
  border-radius: 5px;

  > input,
  svg {
    border: unset;
    background-color: unset;
  }

  input {
    width: $input-size;
    margin: 0;
    padding: 0 5px;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.rotate {
  transform: rotate(180deg);
}

.arrow-wrapper {
  padding-top: 5px 0;
}
