@import "_variables";

$side-padding: 12px;

.toolkit {
  $width: 350px;
  $margin-top: 5px;
  position: sticky;
  top: $margin-top + $container-top-padding;
  flex-basis: $width;
  width: $width;
  max-width: $width;
  max-height: calc(98vh - $margin-top - $container-top-padding);
  margin-top: $margin-top;
  padding-bottom: 15px;
  background-color: $toolkit-background;
  overflow-y: scroll;
  scrollbar-width: none;

  > :nth-child(2) {
    padding: 0 $side-padding;

    > * {
      margin-top: $margin-top;
    }
  }
}

.tab-container {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 28px;
  background-color: $container-background;
}

.tab {
  height: 100%;
  padding: 2px $side-padding;
  font-size: 16px;
  border: 1px solid $container-background;
  border-radius: 5px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  border-bottom: unset;
  background-color: adjust-color(
    $color: $container-background,
    $whiteness: 70%
  );
  cursor: pointer;
}

.active-tab {
  border-color: $toolkit-background;
  background-color: $toolkit-background;
}

.heading-presets {
  display: flex;
  flex-flow: column nowrap;

  h3 {
    margin-bottom: 3px;
  }
}

.preset-option {
  display: flex;
  align-items: center;

  :last-child {
    margin-left: 5px;
  }
}

.heading-section {
  > * {
    margin-top: 5px;
  }
}

.options-menu-container {
  display: flex;
  align-items: center;
  width: fit-content;

  &:not(:first-child) {
    margin-top: 5px;
  }
}

.option-name {
  display: flex;
  align-items: center;
  min-width: fit-content;
  width: 80px;
  margin-right: 10px;

  :last-child {
    margin-left: 5px;
  }
}

.heading-child {
  margin-top: 10px;
}

.delete {
  margin-left: auto;
  font-size: 14px;
  color: $urgent-color;
}

.add-image-button {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 4px;
  border: 1px solid $light-border-color;
  border-radius: 5px;
  font-weight: 600;
}

.text {
  min-height: 24px;
  width: 100%;
  height: fit-content;
  padding: 5px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  resize: vertical;
}

input.text {
  margin-bottom: 5px;
  border: 1px solid $light-border-color;
}

.array-form-container {
  display: flex;

  > :first-child {
    align-items: flex-start;
    margin-right: 0;
    padding-top: 8px;
  }

  > :nth-child(2) {
    margin-left: -6px;
  }
}

.array-form {
  display: flex;
  flex-flow: column nowrap;

  > li {
    display: flex;
    align-items: center;

    :first-child {
      width: 75%;
      margin-right: 5px;
    }
  }
}

.credits-name {
  margin-bottom: 5px;
}

.credits-tab > ul {
  margin-top: 5px;
}
