@import "variables";

$side-padding: 12px;

.toolkit {
  $margin-top: 5px;
  position: sticky;
  top: $margin-top;
  flex-basis: 360px;
  max-height: calc(100vh - $margin-top);
  margin-top: $margin-top;
  background-color: $toolkit-background;

  > :nth-child(2) {
    padding: 0 $side-padding;

    > * {
      margin-top: $margin-top;
    }
  }

  textarea {
    min-height: 24px;
    width: 100%;
    height: fit-content;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    resize: vertical;
  }
}

.tab-container {
  display: flex;
  height: 28px;
  background-color: $container-background;
}

.tab {
  height: 100%;
  padding: 2px $side-padding;
  font-size: 16px;
  border: 1px solid $container-background;
  border-radius: 5px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  border-bottom: unset;
  background-color: adjust-color(
    $color: $container-background,
    $whiteness: 70%
  );
  cursor: pointer;
}

.active-tab {
  border-color: $toolkit-background;
  background-color: $toolkit-background;
}

.heading {
  display: flex;
  align-items: center;

  :last-child {
    margin-left: 10px;
  }
}

.heading-section {
  > * {
    margin-top: 5px;
  }
}
.options-menu-container {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 5px;

  > :first-child {
    margin-right: 10px;
  }
}
